* {
    margin: 0;
}

header {
    background-color: lightskyblue;
    /* padding: 25px 10px 0px 10px; */
}

h1{
    padding: 50px 10px 0px 10px;
}

h2 {
    padding-bottom: 10px;
}

nav {
    font-size: large;
    padding: 0 10px 25px 0;
    color: aliceblue;
}

nav a {
    padding-right: 10px;
}

body {
    background-color: aliceblue;
}

.right {
    text-align: right;
}

.subtitle-banner {
    background-image: url(./images/2018-04-27\ 11:54:26.129.jpg);
    background-size: 1000px;
    height: 200px;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bio-banner {
    background-color: lightskyblue;
    padding: 20px 10px;
}

.apps-banner {
    padding: 20px 10px;
}